= render 'devise/user-registar-header/user-registar-header5'
.signup-completion
  .signup-completion__title
    %p<会員登録完了
  .signup-completion__thanks
    %p<ありがとうございます
    %p<会員登録が完了しました
  = link_to '#' do
    .signup-completion__start-btn
      %p<メルカリをはじめる
= render 'templates/single-footer'