.registar-header2
  .registar-header2__inner
    %h1.registar-header2__inner__logo 
      = link_to '#',  class: 'registar-header2__inner__logo__url' do
        = image_tag 'common/logo.svg', class: 'registar-header2__inner__logo__url__img'
    %h1.registar-header2__inner__progress
      %ol.registar-header2__inner__progress__bar
        %li.registar-header2__inner__progress__bar__active1
          会員情報
          .registar-header2__inner__progress__bar__active1__status
        %li.registar-header2__inner__progress__bar__active2
          電話番号認証
          .registar-header2__inner__progress__bar__active2__status
        %li.registar-header2__inner__progress__bar__inactive
          お届け先住所入力
          .registar-header2__inner__progress__bar__inactive__status
        %li.registar-header2__inner__progress__bar__inactive
          支払い方法
          .registar-header2__inner__progress__bar__inactive__status
        %li.registar-header2__inner__progress__bar__last
          完了
          .registar-header2__inner__progress__bar__last__status