- if user_signed_in? 
  = link_to new_product_path, class: 'camera-icon' do
    .div 出品
    %i.fas.fa-camera
- else        
  = link_to user_session_path, class: 'camera-icon' do
    .div 出品
    %i.fas.fa-camera