= render 'user-registar-header/user-registar-header5'
.signin-completion
  .signin-completion__title
    %p<会員登録完了
  .signin-completion__thanks
    %p<ありがとうございます
    %p<会員登録が完了しました
  = link_to '#' do
    .signin-completion__start-btn
      %p<メルカリをはじめる
= render 'products/single-footer'