.sell-page {

  &__main {
    width: 700px;
    margin: 0 auto;
    background: white;

    &__container {

      &__head {
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;

        h2 {
          font-weight: bold;
        }
      }

      &__item {
        border-top: 1px solid #eee;
        
        &__upload {
          width: 620px;
          padding: 40px;
          color: rgb(51, 51, 51);

          &__head {

            h3 {
              font-weight: bold;
              font-size: 16px;
              display: inline-block;
            }
            span {
              font-weight: bold;
              background: #ea352d;
              display: inline-block;
              margin-left: 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
              line-height: 1.3;
            }
          }
          &__text {
            margin-top: 8px;
            line-height: 1.5;

            p {
              font-size: 14px;
            }
          }
          &__imagebox{
            width: 630px;
            display: flex;
            flex-wrap: wrap;
          
          &__appendbox {
            width: 116px;
            height: 162px;
            background-color: #f5f5f5;
            margin: 16px 5px 10px 5px;
            &__imagephoto
            {
              width: 100%;
              height: 116px;
            }
            h1 {
              color: #0099e8;
              text-align: center;
              line-height: 35px;
            }
          }
        
          &__dropbox {
            margin: 16px 5px 0 5px;
            flex: 1;
            min-width: 116px;
            padding: 40px;
            min-height: 162px;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            font-size: 0;
            text-align: center;
            position: relative;

            label {
              position: absolute;
              top: 50%;
              left: 16px;
              right: 16px;
              text-align: center;
              font-size: 14px;
              font-weight: bold;
              font-family: monospace;
              line-height: 1.5;
              transform: translate(0, -50%);
              cursor: pointer;

              input {
                display: none;
              }
            }
          }
        }
        }
        &__top {
          padding: 40px;
          border-top: 1px solid #eee;
          
          &__name {

            &__head {

              h3 {
                font-weight: bold;
                font-size: 14px;
                display: inline-block;
              }
              span {
                font-weight: bold;
                background: #ea352d;
                display: inline-block;
                margin-left: 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                line-height: 1.3;
              }
            }

            input {
              width: 100%;
              margin-top: 8px;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
            &__about {
              margin-top: 40px;

              &__head {

                h3 {
                  font-weight: bold;
                  font-size: 14px;
                  display: inline-block;
                }
                span {
                  font-weight: bold;
                  background: #ea352d;
                  display: inline-block;
                  margin-left: 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                  line-height: 1.3;
                }
              }
              textarea {
                margin-top: 8px;
                display: block;
                width: 100%;
                max-width: 100%;
                min-height: 142px;
                padding: 10px;
                border: 1px solid #ccc;
                background: #fff;
                font-size: 16px;
                line-height: 1.5;
              }

            }
          }
        }
        &__description {

          &__inner {
            padding: 40px;
            border-top: 1px solid #eee;
            overflow:auto; 
  
            h3 {
              float: left;
              color: #888;
              font-size: 14px;
              font-weight: bold;
            }
            &__box {
              float: right;
              width: 400px;

              &__form {  
                margin-top: 40px;

                h3 {
                  color: #333;
                  font-weight: bold;
                  font-size: 14px;
                  display: inline-block;
                }
                span {
                  font-weight: bold;
                  background: #ea352d;
                  display: inline-block;
                  margin-left: 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                  line-height: 1.3;
                }
                &__wrap {
                  
                 
                  select {
                    width: 100%;
                    height: 100%;
                    margin-top: 8px;
                  width: 100%;
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  }
                  option {
                    top: 50%;
                    color: #888;
                    transform: translate(0, 40%);
                  }
                  i {
                    position: absolute;
                    right: 16px;
                    top: 50%;
                    z-index: 2;
                    color: #888;
                    font-size: 18px;
                    transform: translate(0, -50%);
                  }
                }
              }
              &__form:first-child {
                margin-top: 0;
              } 
            }
          }
        }
        &__shipment {
          clear: both;
          
          &__inner {
            padding: 40px;
            border-top: 1px solid #eee;
            overflow:auto; 

            &__left {
              float: left;

              h3 {
                display: inline-block;
                color: #888;
                font-size: 14px;
                font-weight: bold;
              }
              &__question {
                display: inline-block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: #0099e8;
                line-height: 14px;
                text-align: center;

                a {
                  color: #fff; 
                  font-size: 12px;
                }
              }

            }

            &__box {
              float: right;
              width: 400px;
              #first_shipment_form {
                  display: none;
              }
              #secound_shipment_form {
                display: none;
              }
              &__form {  
                margin-top: 40px;
                
                 
                h3 {
                  color: #333;
                  font-weight: bold;
                  font-size: 14px;
                  display: inline-block;
                }
                span {
                  font-weight: bold;
                  background: #ea352d;
                  display: inline-block;
                  margin-left: 8px;
                  padding: 2px 4px;
                  border-radius: 2px;
                  color: #fff;
                  font-size: 12px;
                  vertical-align: top;
                  line-height: 1.3;
                }
                &__wrap {
                  
                  cursor: pointer;

                  select {
                    width: 100%;
                    height: 100%;
                    margin-top: 8px;
                  width: 100%;
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  }
                  option {
                    top: 50%;
                    color: #888;
                    transform: translate(0, 40%);
                  }
                  i {
                    position: absolute;
                    right: 16px;
                    top: 50%;
                    z-index: 2;
                    color: #888;
                    font-size: 18px;
                    transform: translate(0, -50%);
                  }
                
              }
              }
              &__form:first-child {
                margin-top: 0;
              } 
            }
          }
        }
        &__price {
          
          &__inner {
            padding: 40px;
            border-top: 1px solid #eee;
            overflow: auto; 

            &__left {
              float: left;

              h3 {
                display: inline-block;
                color: #888;
                font-size: 14px;
                font-weight: bold;
              }
              &__question {
                display: inline-block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: #0099e8;
                line-height: 14px;
                text-align: center;

                a {
                  color: #fff; 
                  font-size: 12px;
                }
              }
            }

            &__box {
              float: right;
              width: 400px;
              overflow: auto; 

              &__price {  
                margin-top: 40px;

                &__left {
                  float: left;

                  h3 {
                    color: #333;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 1px;
                    display: inline-block;
                  }
                  span {
                    font-weight: bold;
                    background: #ea352d;
                    display: inline-block;
                    margin-left: 3px;
                    padding: 2px 4px;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 12px;
                    vertical-align:top;
                    line-height: 1.2;
                  }
                }
                &__right {
                  float: right;
                  padding-bottom: 24px;

                  p {
                    display: inline-block;
                    padding-right: 8px;
                  }

                  input {
                    display: inline-block;
                    width: 200px;
                    text-align: right;
                    height: 48px;
                    padding: 10px 16px 8px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: #fff;
                    line-height: 1.5;
                    font-size: 16px;
                  }

                }
              }
              &__fee {
                clear: both;
                padding: 24px 0;
                border-top: 1px solid #ccc;
                overflow: auto; 

                &__left {
                  float: left;
                  font-size: 14px;
                }
                &__right {
                  float: right;
                  width: 100px;
                  .compounding_fee {
                   text-align: right;
                  }
                  .compounding_fee__result {
                    text-align: right;
                  }
                }
              }
              &__profit {
                clear: both;
                padding: 24px 0;
                border-top: 1px solid #ccc;
                overflow: auto; 

                &__left {
                  float: left;

                  p {
                    font-size: 16px;
                    font-weight: 600;
                  }
                }
                &__right {
                  float: right;
                  font-size: 34px;
                  .profit {
                    font-size: 16px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
        &__sell-btn-box {
          clear: both;
          padding: 40px;
          border-top: 1px solid #eee;

          &__notice {
            font-size: 14px;

            a {
              cursor: pointer;
              color: #0099e8;
            }
          }

          &__sell-btn {
            margin-top: 40px;
            background: #ea352d;
            border: 1px solid #ea352d;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            color: #fff;
            a {
              color: #fff;
            }
          }
          &__back-btn {
            width: 45%;
            margin: 24px auto 0;
            background: #aaa;
            border: 1px solid #aaa;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
}