.products-informationpage__items__item-box
  = link_to product_path(product) do
    = image_tag product.images.first.image.url, class: "products-informationpage__items__item-box__image"
    .products-informationpage__items__item-box__description
      %h3 
        = product.name
      .products-informationpage__items__item-box__description__num
        %p
          = jpy_comma(product.price)
      %h4<(税込)