= render 'users/user-registar-header/user-registar-header1'
.registar1-frame 
  .registar1-main 
    %h2.registar1-main__title
      会員情報入力
    .registar1-main__content
      .registar1-main__content__form
        .registar1-main__content__form__nickname
          %label
            ニックネーム
          %span
            必須
          %input{name: "nickname", type: "text", value: "", placeholder: "例) メルカリ太郎"}>/
        .registar1-main__content__form__mail-address
          %label
            メールアドレス
          %span
            必須
          %input{name: "mail-address", type: "text", value: "", placeholder: "PC・携帯どちらでも可"}>/
        .registar1-main__content__form__password
          %label
            パスワード
          %span
            必須
          %input{name: "password", type: "text", value: "", placeholder: "６文字以上"}>/
        .registar1-main__content__form__password-confirmation
          %label
            パスワード(確認)
          %span
            必須
          %input{name: "password-confirmation", type: "text", value: "", placeholder: "６文字以上"}>/
        .registar1-main__content__form__google__confirmation
          .g-recaptcha{"data-sitekey" => "6LdsYqgUAAAAAE_S1gGbyzcki_z5A-W_HAS7KAak"}
        .registar1-main__content__form__next
          = link_to new_user_registration_sms_path, class: 'registar1-main__content__form__next' do
            次へ進む
= render 'templates/single-footer'